@import "compass_twitter_bootstrap";

.stage {
  position: relative;
}

.show-wrapper {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.show {
  background: #EEE;
  overflow: hidden;
  min-height: 20px;

  &.selected-true {
    background: #222;
    color: #FFF;
  }

  input {
    visibility: hidden;
  }
}
