@import "compass_twitter_bootstrap";

.day {
  height: 1250px;
}

.stage {
  position: relative;
}

.show-wrapper {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.show {
  background: #EEE;
  overflow: hidden;
  min-height: 20px;

  .selected-true & {
    background: #222;
    color: #FFF;
  }
  label {
    height: 100%;
  }
  input {
    visibility: hidden;
  }
}
.affix {
  position: fixed;
}
.afterburner-false .day:last-child,
.oldie .afterburner-false .day + .day + .day + .day {
  display: none;
}

@media print {
  * {
    -webkit-print-color-adjust:exact;
  }
  .hide-on-print {
    display: none;
  }
  .day {
    page-break-after: always;
    page-break-inside: avoid;
  }
  .show {
    background: #EEE !important;

    .selected-true & {
      background: #222 !important;
      color: #FFF !important;
    }
  }
}
