@import "compass_twitter_bootstrap";

.day {
  height: 1250px;
}

.stage {
  position: relative;
}

.show-wrapper {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.show {
  background: #EEE;
  overflow: hidden;
  min-height: 20px;

  .selected-true & {
    background: #222;
    color: #FFF;
  }

  input {
    visibility: hidden;
  }
}

@media print {
  * {
    -webkit-print-color-adjust:exact;
  }
  .hide-on-print {
    &.span3 {
      display: none;
    }
    display: none;
  }
  .calendar {
    width: 100% !important;
  }
  .day {
    page-break-after: always;
    page-break-inside: avoid;
  }
  .show {
    background: #EEE !important;

    .selected-true & {
      background: #222 !important;
      color: #FFF !important;
    }
  }
}
