<div class="hero-unit hide-on-print">
  <h1>Roadburn Calendar</h1>
</div>

<div class="hide-on-print">
  <p>Select the shows you want to see, and just print it! <a ng-click="render()" href="javascript:window.print()" class="btn">Print it</a></p>
</div>

<div class="row-fluid">

  <div class="span12 calendar">
    <div ng-repeat="(day_name, day) in shows" class="day">

      <h2 id="{{day_name}}" ng-bind-html-unsafe="day_name | removeNumbers">{{day_name}}</h2>
      <div class="row-fluid">
        <div ng-repeat="(stage_name, stage) in day" class="stage span3">
          <p ng-bind-html-unsafe="stage_name | removeNumbers">{{stage_name}}</p>
          <div ng-repeat="show in stage" class="show-wrapper span12 selected-{{show.selected}}" style="top: {{show.start-1400+20+10}}px;">
            <div class="show" style="height: {{(show.end - show.start)}}px; " title="{{show.name}} - {{show.start}} - {{show.end}}">
              <label class="checkbox" for="{{show.name}}">
                <input type="checkbox" ng-click="save()" ng-model="show.selected" id="{{show.name}}">
                <p>{{show.name}}</p>
                <abbr ng-bind-html-unsafe="show.start | formatHour">{{show.start}}</abbr> - <abbr ng-bind-html-unsafe="show.end | formatHour">{{show.end}}</abbr>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
