<div class="hero-unit hide-on-print">
  <h1>Roadburn Calendar</h1>
</div>

<div class="hide-on-print">
  <p>Select the shows you want to see, and just print it! <a ng-click="render()" href="javascript:window.print()" class="btn">Print it</a></p>
  <p>If you're a Firefox user, don't forget to check "Print background colors" in your print settings.</p>
  <p>
    <label class="checkbox" for="show-afterburner">
      <input type="checkbox" ng-model="afterburner" ng-click="saveAfterburner()" id="show-afterburner"> Show the afterburner
    </label>
  </p>
</div>

<div class="row-fluid afterburner-{{afterburner}}">

  <div class="span12 calendar">
    <div ng-repeat="(day_name, day) in shows" class="day">

      <h2>{{day_name|removeNumbers}}</h2>
      <div class="row-fluid">
        <div ng-repeat="(stage_name, stage) in day" class="stage span3">
          <p>{{stage_name|removeNumbers}}</p>
          <div ng-repeat="show in stage" class="show-wrapper span12 selected-{{show.selected}}" style="top: {{show.start|getPosition}}px;">
            <div class="show" style="height: {{show.end|getHeight:show.start}}px; " title="{{show.name}} - {{show.start}} - {{show.end}}">
              <label class="checkbox" for="{{show.name}}">
                <input type="checkbox" ng-click="saveShows()" ng-model="show.selected" id="{{show.name}}">
                <span>{{show.name}}</span> <br/>
                <abbr>{{show.start|formatHour}}</abbr> - <abbr>{{show.end|formatHour}}</abbr>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
