<div class="hero-unit">
  <h1>Roadburn Calendar!</h1>
</div>


<div class="row-fluid">

  <div class="span9">
    <h2>Friday</h2>
    <div class="row-fluid">
      <div ng-repeat="(stage_name, stage) in fridayShows" class="stage span3">
        {{stage_name}}
        <div ng-repeat="show in stage" class="show selected-{{show.selected}}" style="height: {{(show.end - show.start)}}px; top: {{show.start-1415+10}}px;">
          <label class="checkbox" for="{{show.name}}">
            <input type="checkbox" ng-model="show.selected" id="{{show.name}}">
            <p>{{show.name}}</p>
            <abbr>{{show.start}}</abbr> - <abbr>{{show.end}}</abbr>
          </label>
        </div>
      </div>

    </div>
  </div>

  <aside class="span3">
    <div class="well">
      <a ng-click="render()" href="#" class="btn">Print it</a>
    </div>
  </aside>
</div>
